
.kcell-upsbrowser-maintable {
    width:100%;
}

input[type=submit].kcell-upsbrowser-button--big {
    font-size: medium;
}
 
input[type=submit].kcell-upsbrowser-button {
    background-color:slategray;
    border-style:outset;
    font-weight: bold;
    color:white;
}


input[type=submit][disabled].kcell-upsbrowser-button {
    background-color:lightgray;
    border-style:outset;
    font-weight: normal;
    color:dimgray;
}

.kcell-upsbrowser-form-container {
}


.kcell-upsbrowser-form-container__form-group {
    display: flex;
    flex-direction: row;
}

.kcell-upsbrowser-form-container__control-label {
    flex: none;
    display: block;
    width: 125px;
}

.kcell-upsbrowser-form-container__control-label--wide {
    width: 250px;
}


.kcell-upsbrowser-form-container__form-control {
    flex: 1 1 auto;
    display: block;
    margin-bottom: 5px;
    margin-right: 8px;
    padding: 4px;
    margin-top: -4px;
}

.kcell-upsbrowser-form-textbox {
    min-width:100%;
}

.kcell-upsbrowser-form-dropdown {
    min-width:100%;
}

.kcell-upsbrowser-form-label {
}

.kcell-upsbrowser-paneltabbuttons {
    background-color:lightgray;
    padding:2px;
}

input[type=submit].kcell-upsbrowser-tabbutton {
  margin:0px;
  padding:4px;
  background-color:darkgray;
  color:black;
  border-style:none;
}

input[type=submit].kcell-upsbrowser-tabbutton:hover
{
  font-weight: bold;
}

input[type=submit].kcell-upsbrowser-tabbutton--clicked
{
  margin:0px;
  padding:4px;
  background-color:gainsboro;
  color:black;
  border-style:none;
  font-weight: bold;
}

.kcell-upsbrowser-panel {
    border-style: inset;
    border-width: 2px;
    padding: 5px;
}


.kcell-upsbrowser-panel--multiview {
    height: 400px;
    border-style:none;
    background-color: gainsboro;
}

.kcell-upsbrowser-panel--activities {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 120px;
    background-color:whitesmoke;
}

.kcell-upsbrowser-panel--searchresults {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 150px;
}

.kcell-upsbrowser-panel_title {
    text-align:left;
    font-weight:bold;
    font-size:larger;
    padding:10px;
}


.kcell-upsbrowser-textbox {
    width:400px;
}

.kcell-upsbrowser-textbox--multiline {
    height:80px;
    width:400px;
    resize:none;
}

.kcell-upsbrowser-textbox--readonly {
    background-color:lightgray;
}

.kcell-upsbrowser-panel-import-users-resolved {
    background-color:white;
    border-style:inset;
    height:100px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
}

.kcell-upsbrowser-panel-import-users-resolved__userdiv {
    margin: 10px;
}


.kcell-upsbrowser-panel-import-users-resolved__userspan {
    text-decoration: underline;
}


.kcell-upsbrowser-panel-import-users-resolved__removeuser {
    font-weight: bold;
    margin-left: 2px;
}


.kcell-upsbrowser-critical-error-message {
    font-size:larger;
    color:red;
}